*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(27, 25, 25, 0.918);
}
#mainclock{
    /* background-color: aqua; */
    height:50vw;
    width:50vw;
    background: url('clock.png')  no-repeat;
    background-size: 100%;
    /* border: 2px solid black; */
    margin: auto;
    position: relative;
    margin-top: 5rem;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    transform-origin: bottom;
}

#hour{
    width: 2.2%;
    height: 24%;
    border-radius: 15px;
    top: 26%;
    left: 48.6%;
    opacity: 0.9;
    
}

#minute{
    width: 1.59%;
    height: 31%;
    border-radius: 5px;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
    background: rgb(23, 26, 3);

}

#second{
    width: 0.9%;
    height: 38%;
    border-radius: 2px;
    top: 12%;
    left: 49.3%;
    background: rgb(28, 31, 3);
    opacity: 0.7;
    
}